* {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}

body {
    background-color: #fdf3e7;
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


.logo {
    width: 60px;
    position: relative;
    z-index: 10;
}


.nav-center {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-center li a {
    text-decoration: none;
    color: #502314;
    font-size: 16px;
    font-weight: 600;
}

.nav-center li a:hover {
    color: #d62300;
}


.order-btn {
    text-decoration: none;
    background-color: #d62300;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    
}

.order-btn:hover {
    background-color: maroon;
}
   